*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif, Arial, Helvetica;
    background-color: #EAEAEA;
    color: #666666;
}
#special{
    background-color: white;
    padding-left: 10px;
}
#wrapper{
    background-color: #90C7E3;
    background-image: linear-gradient(white, #90C7E3);
}

header{
    background-color: #002171;
    color: #FFFFFF;
    background-repeat: no-repeat;
    text-align: center;
    }
header a:link{
    color: white;
    text-decoration: none;
}
header a:visited{
    color: white;
}
header a:hover{
    color: #90C7E3;
}

section{
    padding-left: 2em;
    padding-right: 2em;
}

nav{

    font-weight: bold;
    padding: 0;
    font-size: 120%;
    text-align: center;
}

nav li{
    border-bottom: 1px solid darkblue;
}

nav a{
    text-decoration: none;
}

nav a:link{
    color: #5c7fa3;
}

nav a:visited{
    color: #344873;
}
nav a:hover{
    color: #a52a2a;
}

nav ul {
    marker: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
    list-style-type: none;
}
table{
    border: 2px solid #3399cc;
    border-collapse: collapse;
}
table td:nth-of-type(odd){
    background-color: #f5fafc;
}
table td{
    padding: 0.5em;
    border: 2px solid #3399cc;
    text-align: center;
}
table th{
    padding: 0.5em;
    border: 2px solid #3399cc;
}
.text{
    text-align: left;
}

main{
    padding-top: 1px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: block;
    background-color: white;
    padding-left: 30px;
    overflow: auto;
}

main ul{
    list-style-image: url("marker.gif");
    text-align: left;
}

h1{
    margin-bottom: 0;
    font-family: Georgia, "Times New Roman", serif;
    margin-top: 0;
    padding-top: 0.5em; padding-bottom: 0.5em;
}

h2{
    color: #1976D2;
    font-family: Georgia, "Times New Roman", serif;
    text-shadow: 1px 1px #CCCCCC;
}

h3{
    font-family: Georgia, "Times New Roman", serif;
    color: #000033;
}

dl{
    color: #002171;
}

dl dt{
    font-weight: bold;
}

video, embed {
    float: right;
    padding-left: 20px;
}

form{
    display: flex;
    flex-flow: column nowrap;
}

input, textarea {
    margin-bottom: .5em;
}

.resort {
    color: #1976D2;
    font-weight: bold;
}

.contact{
    font-size: 90%;
}

#homehero{
    height: 300px;
    background-image: url("coast.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#yurthero{
    height: 300px;
    background-image: url("yurt.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#trailhero{
    height: 300px;
    background-image: url("trail.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

footer{
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: Georgia, "Times New Roman", serif;
    padding: 2em;
    background-color: white;
}
@media (min-width: 600px) {
    nav ul{
        display: flex;
        flex-flow: nowrap row;
        justify-content: space-between;
    }
    nav li{
        border-bottom: none;
    }
    section{
        padding-left: 2em;
        padding-right: 2em;
        float: right;
        width: 100%;
        grid-row: 2/3; grid-column: auto;
    }
    .content main{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
    }
    form{
        width: 60%;
        display: grid;
        grid-template-columns: 6em 1fr;
        grid-template-rows: auto;
    }
    input[type="submit"]{
        grid-column: 2;
        width: 9em;
    }
    #special{ grid-row: auto; grid-column: 1/5; }
    footer{ grid-row: auto; grid-column: 1/5; }
    h2{ grid-row: 1/2; grid-column: 1/5; }
}
@media (min-width: 1024px) {
    nav ul{
        flex-direction: column;
        padding-top: 1em;
    }
    nav{
        text-align: left;
        padding-left: 1em;
    }
    #wrapper {
        margin: auto;
        width: 80%;
        border: darkblue;
        box-shadow: darkblue;
        display: grid;
        grid-template-columns: 180px auto;
        grid-template-rows: auto;
    }
    #wrapper header{
        grid-row: span 1; grid-column: span 2;
    }
    #wrapper nav{
        grid-row: 2/4; grid-column: 1/2;
    }
    #wrapper div{
        grid-row: 2; grid-column: 2;
    }
    #wrapper main{
        grid-row: 3; grid-column: 2;
    }
    #wrapper footer{
        grid-row: auto; grid-column: 2;
    }
    #wrapper #special{
        grid-row: auto; grid-column: 2;
    }
}
